
<div class="container">
<form (ngSubmit)="submitCustomer()" #form="ngForm">
    <input type="text" [(ngModel)]="customer.name" name="name" placeholder="Name" required />
    <input type="email" [(ngModel)]="customer.email" name="email" placeholder="Email" required />
 
    <button type="submit">{{ isEdit ? 'Update' : 'Add' }} Customer</button>
    <button type="button" (click)="resetForm()" *ngIf="isEdit">Cancel</button>
  </form>


  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of customerData">
        <td>{{ c.name }}</td>
        <td>{{ c.email }}</td>
        <td>
          <button class="btn btn-success  me-2" (click)="editForm(c)">Edit</button>
          <button class="btn btn-danger"(click)="deleteCustomerById(c.id!)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  </div>